@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(20 20 20);
    color: rgb(212 212 212);
}
h1,
h2,
h3 {
    line-height: 1.2;
}